<div class="container-divider categories-divider"></div>
<div class="subnav">
    <div class="subnav__search">
        {{search submit=false}}
    </div>
   <div class="subnav__breadcrumbs">
    <a href="/hc/en-gb" title="Return to Home" class="breadcrumbs-btn">
      Return to Home
    </a>
    <a href="https://portal.exclaimer.com" title="Return to Portal" class="breadcrumbs-btn" target="_blank">
      Return to Portal
    </a>
   </div>
  </div>

<div class="main__container">
  
  <div class="col-left">
    {{#if settings.show_articles_in_section}}
      <ul>
        {{#each section.articles}}
          <li>
            <a href="{{url}}" class="sidenav-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="col-right">
    <article class="article">
      <header class="article-header">
        <div>
        <h2 title="{{article.title}}" class="article-title">
          <strong>
            {{article.title}}
          </strong>
        </h2>
        </div>
        <div class="article-author-full">
          {{#if settings.show_article_author}}
          <div class="avatar article-avatar">
            {{#if article.author.agent}}
              <span class="icon-agent"></span>
            {{/if}}
            <img src="{{article.author.avatar_url}}" alt="" class="user-avatar"/>
          </div>
          {{/if}}
          <div class="article-author-info">
            {{#if settings.show_article_author}}
              {{#link 'user_profile' id=article.author.id}}
              {{article.author.name}}
              {{/link}}
            {{/if}}
            <div class="article-meta-data">
            {{#is article.created_at article.edited_at}}
              <li class="meta-data">{{date article.created_at timeago=true}}</li>
            {{else}}
              <li class="meta-data">{{date article.edited_at timeago=true}}</li>
              <li class="meta-data">{{t 'updated'}}</li>
            {{/is}}
            </div>
          </div>
        </div>
      </header>

      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>
          <div class="article-attachments">
            <ul class="attachments">
              {{#each attachments}}
                <li class="attachment-item">
                  <a href="{{url}}" target="_blank">{{name}}</a>
                  <div class="attachment-meta meta-group">
                    <span class="attachment-meta-item meta-data">{{size}}</span>
                    <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </section>

      {{pagination}}
    </article>
  </div>

</div>