<div class="container">
  <div class="article-container" id="article-container">

    {{#if article}}
    <header class="article-header">
      <h1 id="{{article.id}}">{{article.title}}
        {{#if article.internal}}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 16 16"
          class="icon-lock" title="{{t 'internal'}}">
          <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
          <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
        </svg>
        {{/if}}
      </h1>
      {{breadcrumbs}}

      {{!-- FAQ --}}
      {{#is section.id 20847774218397}}
      {{#if section}}
      <ul class="article-list article-list-article" aria-label="FAQ">
        {{#each section.articles}}
        <li id="{{id}}" class="article-list-item" aria-label="FAQ">
          <a href="{{url}}" title="{{title}}" class="article-list-item-link">{{title}}</a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
      {{/is}}

      {{!-- Whats New--}}
      {{#is section.id 21032753879581}}
      {{#if section}}
      <ul id="whatsNewDates" class="article-list article-list-article" aria-label="Date">
        {{#each section.articles}}
        <li id="{{id}}" class="article-list-item" aria-label="Date">
          <a href="{{url}}" title="{{title}}" class="article-list-item-link" aria-label="{{title}}">{{title}}</a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
      {{/is}}
      <div class="article-meta">
        <div class="article-author">
          {{#if settings.show_article_author}}
          <div class="avatar article-avatar">
            {{#if article.author.agent}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="icon-agent">
              <path fill="currentColor"
                d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z" />
            </svg>
            {{/if}}
            <img src="{{article.author.avatar_url}}" alt="" class="user-avatar" />
          </div>
          {{/if}}
          <div class="article-author-meta">
            {{#if settings.show_article_author}}
            {{#link 'user_profile' id=article.author.id}}
            {{article.author.name}}
            {{/link}}
            {{/if}}

            <ul class="meta-group">
              {{#is article.created_at article.edited_at}}
              <li class="meta-data">{{date article.created_at timeago=true}}</li>
              {{else}}
              <li class="meta-data">{{date article.edited_at timeago=true}}</li>
              <li class="meta-data">{{t 'updated'}}</li>
              {{/is}}
            </ul>
          </div>
        </div>
        {{#if settings.show_follow_article}}
        <div class="article-subscribe">{{subscribe class="test"}}</div>
        {{/if}}
      </div>
    </header>


    <article id="main-content" class="article">
      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>
        </div>
      </section>

      <footer>
        {{#with article}}
        <div class="article-help">
          <h3>{{dc 'kb_raiseTicket-title'}}</h3>
          <a href="{{page_path 'help_center'}}/p/raise-ticket" class="btn">{{dc 'kb_raiseTicket'}}</a>
        </div>
        <div class="article-ratings">
          <h3><b>{{dc 'kb_ct-title'}}</b></h3>
          <div class="article-ratings-icons">
            <a href="https://app.customerthermometer.com/?template=log_feedback&hash=76572781&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz0w&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-0">0</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=e8042a6f&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz0x&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-1">1</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=5ea51a22&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz0y&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-2">2</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=07df094a&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz0z&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-3">3</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=bdecd814&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz00&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-4">4</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=340dc8b5&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz01&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-5">5</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=cd5f95ff&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz02&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-6">6</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=89629142&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz03&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-7">7</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=3dbbfe93&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz04&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-8">8</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=f596dd8d&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz05&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-9">9</a><a
              href="https://app.customerthermometer.com/?template=log_feedback&hash=92e47819&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD0xODU3MTUmbnBzX3JhdGluZz0xMA==&e=&f=&l=&c=&c1=&c2=&c3={{url}}&c4=&c5=&c6=&c7=&c8=&c9=&c10="
              aria-label="ratingvalue-10">10</a>
          </div>
          <p>{{dc 'kb_ct-subwording'}}
        </div>
        {{/with}}

        <div class="article-return-to-top">
          <a href="#article-container">
            {{t 'return_to_top'}}
            <svg xmlns="http://www.w3.org/2000/svg" class="article-return-to-top-icon" width="20" height="20"
              focusable="false" viewBox="0 0 12 12" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </a>
        </div>
      </footer>
    </article>
    {{/if}}
  </div>
</div>