<div class="container">
  <div class="promoted-videos" id="promoVideoSection">
    <div class="owl-carousel owl-theme" id="promoVideos"></div>
  </div>

  <div class="category-container">
    <header class="category-header">
      <h1>{{category.name}}</h1>
      {{breadcrumbs}}
      {{#if category.description}}
      <p class="page-header-description">{{category.description}}</p>
      {{/if}}
    </header>
    {{#if category}}

    {{!-- User Manual Page --}}
    {{#is category.id 19833048021661}}
    <ul class="categories c-usermanual">
      {{#each category.sections}}
      <li id="{{id}}" class="category-item">
        <a href="{{url}}" class="category-item-title" aria-label="{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
    {{!-- FAQ Page --}}
    {{else}}
    {{#is category.id 19833343268637}}
    {{!-- Anything else --}}
    {{else}}
    <ul class="categories">
      {{#each category.sections}}
      <li id="{{id}}" class="category-item">
        <a href="{{url}}" class="category-item-title" aria-label="{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
    {{/is}}
    {{/is}}
    {{/if}}

  </div>
</div>