
<script type="text/javascript">
  window.adaSettings = {
    
  }
</script>

<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
<script type="text/javascript">
// Article Accordion
var acc = document.getElementsByClassName("article-accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}

// FAQ Accordion
var faqAcc = document.getElementsByClassName("faq-question-title");
for (var j = 0; j < faqAcc.length; j++) {
  faqAcc[j].addEventListener("click", function(){
    this.classList.toggle("faq-question-title-active");
    var faqBody = this.nextElementSibling;
    if (faqBody.style.maxHeight){
      faqBody.style.maxHeight = null;
    } else {
      faqBody.style.maxHeight = faqBody.scrollHeight + "px";
    }
  })
}


function checkTicketId(){
  var formHeader = document.querySelector('#formTitle');
  var formSubTitle = document.querySelector('#formSubTitle');
  var formEmail = document.querySelector('label[for=request_anonymous_requester_email]');
  var formCC = document.querySelector('.request_cc_emails');
  var formSubjectContainer = document.querySelector('.request_subject');  //main hero section wrapper
  var formArticleContainer = document.querySelector('.request_custom_fields_9489978202909');
  var formMessage = document.querySelector('#request_description_label');
  var formMessageHint = document.querySelector('#request_description_hint');
  if(window.location.href.indexOf('9490217014813') > 0){  //The numbers are form ID which I get from the form URL
    formHeader.innerHTML = 'Knowledgebase feedback';
    formCC.style.display = 'none';
    formSubTitle.style.display = 'block';
  	formSubjectContainer.style.display = 'none'; 
    formArticleContainer.style.display = 'none';
    formMessage.innerHTML = 'Feedback';
    formMessageHint.style.display = 'none';
    formEmail.innerHTML = "We'd love to know who you are. Please provide your email address";
  }
}
checkTicketId();


</script>