<h1 class="visibility-hidden">{{ help_center.name }}</h1>
<div class="container">
  <section class="section knowledge-base">

    {{!-- <div class="promoted-videos" id="promoVideoSection">
      <h2 id="promotedVideos" style="display: none">{{dc 'kb_promoted-videos'}}</h2>
      <div class="owl-carousel owl-theme" id="promoVideos"></div>
    </div> --}}

    {{#if promoted_articles}}
    <div class="promoted-articles">
      <h2>{{dc 'kb_promoted-articles'}}</h2>
      <div class="promo-articles">
        {{#each promoted_articles}}
        <div class="promo-article-item">
          <a href="{{url}}">
            <span class="promo-article-title">{{title}}</span>
            <span class="promo-article-btn">{{dc 'kb_read-more'}}</span>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </section>
  {{!--
  {{#if help_center.community_enabled}}
  <section class="section home-section community">
    <h2>{{t 'community'}}</h2>
    {{#link 'community' class='community-link'}}
    {{t 'join_conversation'}}
    {{/link}}

    <div class="community-image"></div>
  </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section> --}}
</div>