<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
        class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search submit=false}}
    </div>
  </nav>
  <div id="formSelector" class="form-selector">
    <a id="technicalButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20830571495197"
      class="form-selector-btn form-selector-btn-smaller" aria-label="tech">Technical
      Support</a>
    <a id="accountButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20830579866909"
      class="form-selector-btn form-selector-btn-smaller" aria-label="account">Account
      Services</a>
    <a id="knowledgeButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20830564781469"
      class="form-selector-btn form-selector-btn-smaller" aria-label="knowledge">Knowledgebase Feedback</a>
  </div>
  <h1 id="formTitle">

  </h1>
  {{request_form}}

</div>