<div class="container-divider categories-divider"></div>
<div class="subnav">
    <div class="subnav__search">
        {{search submit=false}}
    </div>
   <div class="subnav__breadcrumbs">
      <a href="/hc/en-gb" title="Return to Home" class="breadcrumbs-btn">
      Return to Home
    </a>
    <a href="https://portal.exclaimer.com" title="Return to Portal" class="breadcrumbs-btn" target="_blank">
      Return to Portal
    </a>
   </div>
  </div>

<div class="main__container">
  
  <div class="col-left">
      <ul class="side-bar-custom">
        <li>
          <a class="sidenav-item" href="/hc/en-gb/sections/360009924811-Welcome">Welcome</a>
        </li>
        <li>
          <a class="sidenav-item" href="/hc/en-gb/sections/360009924831-Configuration">Configuration</a>
          <ul class="side-bar-custom-sub">
            <li>
              <a class="sidenav-item" href="/hc/en-gb/sections/360009924851-Connect-to-Microsoft-365">Connect to Microsoft 365</a>
            </li>
            <li>
              <a class="sidenav-item" href="/hc/en-gb/sections/360009924871-Manage-User-Data">Manage User Data</a>
            </li>
            <li>
              <a class="sidenav-item" href="/hc/en-gb/sections/360009924891-Manage-Mail-Flow">Manage Mail Flow</a>
            </li>
            <li>
              <a class="sidenav-item" href="/hc/en-gb/sections/360009806832-Outlook-Signatures">Outlook Signatures</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="sidenav-item" href="/hc/en-gb/sections/360009806852-Signatures">Signatures</a>
        </li>
        <li>
          <a class="sidenav-item" href="/hc/en-gb/sections/360009806872-Account-Settings">Account Settings</a>
        </li>
        <li>
          <a class="sidenav-item" href="/hc/en-gb/sections/360009924911-Troubleshooting">Troubleshooting</a>
        </li>
      </ul>
  </div>

  <div class="col-right">
    <h2 class="section-title">
      <strong>
        {{section.name}}
      </strong>
    </h2>
    {{#if section.sections}}
        <ul class="sub-section">
          {{#each section.sections}}
            <li class="sub-section-li">
              <a href="{{url}}">
                <span>{{name}}</span>
              </a>
              <a href="{{url}}" class="article-list-link-btn">View Section</a>
            </li>
          {{/each}}
          <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
        </ul>
      {{/if}}

      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              <a href="{{url}}" class="article-list-link-btn">View article</a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
  </div>
</div>