<div class="container-divider categories-divider"></div>
<div class="subnav">
    <div class="subnav__search">
        {{search submit=false}}
    </div>
   <div class="subnav__breadcrumbs">
      {{breadcrumbs}}
   </div>
  </div>

<div class="main__container">
  
  <div class="col-left">
      <ul id="sectionsId">
        
      </ul>
  </div>

  <div class="col-right">
    {{#if section.sections}}
        <ul class="sub-section">
          {{#each section.sections}}
          <li class="sub-section-li">
              <a href="{{url}}">
                <span>{{name}}</span>
              </a>
            </li>
          {{/each}}
          <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
        </ul>
      {{/if}}

      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
  </div>
</div>

<script>
  $.ajax({
    url: '/api/v2/help_center/en-gb/sections.json',
    type: 'GET',
    dataType: 'json',
    success: function(data){
      var sections = data.sections.filter(function(item){
        return item.parent_section_id == null;
      });

      console.log(sections);

      for (var i = 0; i < sections.length; i++){
        var isActive = window.location.href.includes(sections[i].id);
        var li = document.createElement("li");
        var a = document.createElement("a");
        var className = isActive ? "sidenav-item current-article":"sidenav-item";

        a.setAttribute("class", className);
        a.textContent = sections[i].name;
        a.href = sections[i].html_url;

        li.append(a)
        $("#sectionsId").append(li);
      }
    }
  });
</script>