<div class="container">
  <div class="promoted-videos" id="promoVideoSection">
    <div class="owl-carousel owl-theme" id="promoVideos"></div>
  </div>

  <div class="section-container">
    <header class="sections-header">
      <h1>{{section.name}}</h1>
      {{breadcrumbs}}
      {{#if section.description}}
      <p class="page-header-description">{{section.description}}</p>
      {{/if}}
    </header>

    {{#if section.sections}}
    <ul class="sections">
      {{#each section.sections}}
      <li class="sections-item">
        <a href="{{url}}" class="sections-item-title">{{name}}</a>
      </li>
      {{/each}}

    </ul>
    {{else}}
    <ul class="sections-articles-list">
      {{#each section.articles}}
      <li class="sections-articles-item articles-item">
        <a href="{{url}}" title="{{title}}">{{title}}</a>
        {{#if internal}}<span class="sections-articles-item-internal"></span>{{/if}}
      </li>
      {{/each}}
    </ul>
    {{/if}}

  </div>
</div>