<div class="container">
  <div class="promoted-videos" id="promoVideoSection">
    <div class="owl-carousel owl-theme" id="promoVideos"></div>
  </div>

  <div class="category-container">
    <header class="sections-header">
      <h1>{{section.name}}</h1>
      {{breadcrumbs}}
      {{#if section.description}}
      <p class="page-header-description">{{section.description}}</p>
      {{/if}}
    </header>

    {{#if section}}
    <ul class="categories">
      {{#each section.sections}}
      <li id="{{id}}" class="category-item"><a href="{{url}}" title="{{name}}">{{name}}</a></li>
      {{/each}}
    </ul>
    {{/if}}

  </div>
</div>