<div class="container-divider categories-divider"></div>
<div class="subnav">
    <div class="subnav__search">
        {{search submit=false}}
    </div>
   <div class="subnav__breadcrumbs">
      <a href="/hc/en-gb" title="Return to Home" class="breadcrumbs-btn">
      Return to Home
    </a>
    <a href="https://portal.exclaimer.com" title="Return to Portal" class="breadcrumbs-btn" target="_blank">
      Return to Portal
    </a>
   </div>
  </div>

<div class="main__container">
  
  <div class="col-left">
    <ul class="side-bar-custom">
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360010737611">Welcome home</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360010737631">Configuration</a>
        <ul class="side-bar-custom-sub">
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010737751">Connect to Microsoft 365</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010621212">Manage User Data</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010737711">Manage Mail Flow</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010737691">Outlook Signatures</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/4413263355921">Exchange On-Premises</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/8740951222045">Gmail Signatures</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360010621172" class="border-top">Signatures</a>
        <ul class="side-bar-custom-sub">
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010804291">Create Signature</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010804331">Create Folder</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010804351">Edit Signature Design</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010804371">Manage Signature Rules</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/360010690532">Folder Security</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/4916372216733">Power Ups</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/4406902610845">Signatures Tester</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/4757726923805">Analytics</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360010737651">Account Settings</a>
        <ul class="side-bar-custom-sub">
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/4404078709009">Billing</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/4404074869905">Subscriptions</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360010621192">Troubleshooting</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/4898617889565">Want to know more...</a>
        <ul class="side-bar-custom-sub">
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/5138949233693">Exclaimer Cloud</a>        
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/sections/4898619042589">Signature Designer</a>
          </li>
          <li>
            <a class="sidenav-item" href="/hc/en-gb/articles/6174023025821">Navigation Hints</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/articles/360018542017">FAQ</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/articles/360050338692">Glossary</a>
      </li>
    </ul>
  </div>

  <div class="col-right">
    <h1 class="section-title">
      <strong>
        {{section.name}}
      </strong>
    </h1>
    {{#if section.sections}}
      <ul class="sub-section">
        {{#each section.sections}}
          <li class="sub-section-li">
            <a href="{{url}}" class="sub-section-li-link-btn"><span>{{name}}</span></a>
          </li>
        {{/each}}
        <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
      </ul>
    {{/if}}
    {{#if section.articles}}
      <h2 class="section-title" style="padding-top: 15px">
        <strong>Articles</strong>
      </h2>
      <ul class="article-list-custom">
        {{#each section.articles}}
          <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
            <a href="{{url}}" class="article-list-link">{{title}}</a>
            <a href="{{url}}" class="article-list-link-btn">View article</a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{pagination}}
  </div>
</div>