<div class="container">
  {{!-- <div class="promoted-videos" id="promoVideoSection">
    <div class="owl-carousel owl-theme" id="promoVideos"></div>
  </div> --}}

  <div class="section-container">
    <header class="section-header">
      <h1>
        {{!-- Checking to see if its the FAQ Section --}}
        {{#is section.id 20847774218397}}
        Frequently Asked Questions
        {{!-- Checking to see if its the WhatsNew Section --}}
        {{else}}
        {{#is section.id 20876500035485}}
        What's New
        {{else}}
        {{section.name}}
        {{/is}}
        {{/is}}
      </h1>
      {{breadcrumbs}}

      {{#if section.description}}
      <p class="page-header-description">{{section.description}}</p>
      {{/if}}
    </header>
    {{#if section}}
    <ul class="sections">
      {{#each section.sections}}

      <li id="{{id}}" class="section-item">
        <a href="{{url}}" title="{{name}}" class="section-item-title">{{name}}</a>
        {{#if articles}}
        <ul>
          {{#each articles}}
          <li class="section-item-link"><a href="{{url}}" title="{{title}}">{{title}}</a></li>
          {{/each}}
          {{#if more_articles}}
          <li class="section-item-seemore">
            <a href="{{url}}" title="{{name}}">[See all articles]</a>
          </li>
          {{/if}}
        </ul>
        {{/if}}
      </li>
      {{/each}}
    </ul>
    {{/if}}

    {{#if section.sections}}
    <h2>Articles</h2>
    {{#if section.articles}}
    <ul class="section-articles">
      {{#each section.articles}}
      <li id="{{id}}" class="section-articles-item">
        <a href="{{url}}" title="{{title}}" class="section-articles-item-link">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    {{else}}
    {{#is section.id 21233625812125}}
    <ul class="article-list" aria-label="FAQ">
      {{#each section.articles}}
      <li id="{{id}}" class="article-list-item" aria-label="FAQ">
        <a href="{{url}}" title="{{title}}" class="article-list-item-link">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{#is section.id 21233569689629}}
    <ul class="article-list" aria-label="Date">
      {{#each section.articles}}
      <li id="{{id}}" class="article-list-item" aria-label="Date">
        <a href="{{url}}" title="{{title}}" class="article-list-item-link">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{#if section.articles}}
    <ul class="article-list">
      {{#each section.articles}}
      <li id="{{id}}" class="article-list-item">
        <a href="{{url}}" title="{{title}}" class="article-list-item-link">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    {{/is}}
    {{/is}}
    {{/if}}
  </div>
</div>